@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

.ShortenForm {
  width: 100%;
}

.Shorten-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  color: #fff;
}

.Shorten-input::placeholder {
  color: #ffffff4d;
}

.Shorten-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  width: 10%;
}

.ShortenWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
}

.Shorten {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}